# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
# [client-server]

# Import all .cnf files from configuration directory
# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mariadb.conf.d/

[mysqld]
bind-address = 127.0.0.1 
local-infile=0

#innodb_buffer_pool_size=5M
#innodb_log_buffer_size=256K
#query_cache_size=0
#max_connections=10
#key_buffer_size=8
#thread_cache_size=0
#host_cache_size=0
#innodb_ft_cache_size=1600000
#innodb_ft_total_cache_size=32000000

# per thread or per operation settings
#thread_stack=131072
#sort_buffer_size=32K
#read_buffer_size=8200
#read_rnd_buffer_size=8200
#max_heap_table_size=16K
#tmp_table_size=1K
#bulk_insert_buffer_size=0
#join_buffer_size=128
#net_buffer_length=1K
#innodb_sort_buffer_size=64K

#settings that relate to the binary log (if enabled)
#binlog_cache_size=4K
#binlog_stmt_cache_size=4K

performance_schema = OFF

